* {
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #ececec;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #2a2a2a;
}

.wrapper {
	background: #ececec;
	margin: 0 auto;
	max-width: 1200px;
}

.hero {
    height: 100vh;
}

.hero__img {
    width: 80%;
    margin-top: 91px;
    margin-left: 250px;
	border-radius: 0px 30px 30px 0px;
}

p {
	line-height: 180%;
	font-size: 1.1rem;
}

/*********************************************************************************/

/* MENU                                                                  */

/*********************************************************************************/

.menu {
	background: #ececec;
	position: fixed;
	height: 100vh;
	width: 250px;
	text-align: center;
	margin-top: 220px;
}

.menu__logo {
	color: #2a2a2a;
	text-align: center;
}

.menu__logo span {
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	text-decoration: underline;
}

.menu__logo h1 {
	letter-spacing: 0.3rem;
	font-size: 1.5rem;
	padding: 2% 3% 10%;
}

.menu__list ul {
	padding: 0;
	list-style: none;
}

.menu__list li {
	border-top: 5px solid #ececec;
}

.menu__switch  {
	display: none
}

.menu__label  {
	display: none
}

.menu__list li a {
	display: block;
	padding: 2em 1.5em;
	text-align: center;
	text-decoration:  none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fcfcfc;
	background-color: #2a2a2a;
	border-radius: 20px 0px 0px 20px;
}

.menu__list li a:hover {
	width: 75%;
	margin-left: 5.8%;
}

/*********************************************************************************/

/* MAIN                                                                */

/*********************************************************************************/

.main { 
	background: #fcfcfc;
	text-align: center;
	margin-left: 250px;
	margin-bottom: 2px;
	padding: 4% 2%;
}

.main__header {
	letter-spacing: 1.5rem;
	font-weight: 200;
	text-transform: uppercase;
	padding: 3% 0;
}

.about__me {
	margin-top: 5%;
}
.about__me img{
	border: 3px solid #ececec;
	padding: 5px;
	border-radius: 50%;
	width: 25%;
}

.about__me p {
	text-align: justify;
}

/********************************* SKILLS ************************************/

.skills {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid rgba(204, 204, 204, 0.932);
    border-radius: 10px;
    margin: 1ch 1ch 1ch 2ch; 
    padding: 1.5vw 0;
    width: 9vw;
}

.skills__header {
	margin: 3ch auto 1ch; 
	font-weight: 100;
}

.skills:hover {
    border: 1px solid white;
    border-radius: 10px;
}

.skills__flag {
    border-radius: 5px;
    box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.6); 
    height: 1.5rem;
    width: 2.2rem;
}

.skills__pro {
    height: 2rem;
    width: 2rem;
}

.skills__soft {
    height: 2rem;
    width: 2rem;
}

.skills__others {
    height: 1.5rem;
    width: 2.2rem;
}

/********************************* PROJECTS *********************************/

.project__container {
    border-radius: 10px;
    /* float: left; */
    margin: 0.5% 0.5%;
    overflow: hidden;
    padding: 0;
    width: 49%;
}

.project__img {
    border-radius: 10px;
    transition-duration: 1s;
    width: 100%;
}

.project__img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}


/*********************************************************************************/

/* MEDIA QUERIES                                                                   */

/*********************************************************************************/

@media (max-width: 1250px) {
	.menu {
		background: #ececec;
		position: fixed;
		height: 100vh;
		width: 250px;
		text-align: center;
		margin-top: 220px;
	}
}

@media (max-width: 500px) {
	body {
		overflow-x: hidden;
	}
	.main {
		padding-top: 18%;
		transition: 0.3s all ease-in-out;
	}
	.menu {
		flex: none;
		height: 100%;
		left: -200px;
		position: fixed;
		width: 200px;
		transition: left 0.3s ease-in-out;
	}
	.menu__label 
	{
		cursor: pointer;
		display: block;
		font-size: 10vw;
		left: 10%;
		position: fixed;
		top: 2%;
		transition: left 0.3s ease-in-out;
		z-index: 99;
	}
	.menu__switch:checked ~ .menu__label {
		color: white;
		font-size: 2.5rem;
		left: 20px;
	}
	.menu__switch:checked ~ .menu {
		left: 0;
	}
	.menu__switch:checked ~ .main {
		-webkit-transform: translateX(200px);
		transform: translateX(200px);
	}
}