.hero__img {
	border-radius: 0px 30px 30px 0px;
	margin-left: 250px;
    margin-top: 80px;
	max-width: 750px;
    width: 100%;
}

.arrow__container {
	margin-left: 250px;
	padding: 7% 0 2% 2%;
	text-align: center;
	width: 70%;
}

.fa-angle-double-down {
	color: #2a2a2a36;
	font-size: 3.5rem;
	overflow: hidden;
}

.fa-angle-double-down:hover {
	color: white;
}