* {
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: #ececec;
	box-sizing: border-box;
	color: #2a2a2a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper {
	background: #ececec;
	margin: 0 auto;
	max-width: 1000px;
}

p {
	font-size: 1rem;
	line-height: 180%;
}

.main { 
	background: #fcfcfc;
	border-radius: 15px;
	margin-bottom: 2px;
	margin-left: 250px;
	padding: 4% 2%;
	text-align: center;
	width: 70%;
}

.main__header {
	font-weight: 200;
	letter-spacing: 1.5rem;
	padding: 3% 0;
	text-transform: uppercase;
}